# Authentik configuration
# local server as part of the docker compose stack or external server
AUTHENTIK_SERVER_URL=http://authentik_server:9000/outpost.goauthentik.io/auth/traefik

# Domain configuration
DOMAIN=flowcase.home

# Email configuration
ADMIN_EMAIL=my.email@example.com

# CA Server configuration
# can be local ACME server or letsencrypt
CA_SERVER=https://myca.home/acme/acme/directory