# Authentik configuration
# local server as part of the compose stack or external
AUTHENTIK_SERVER_URL=http://authentik_server:9000/outpost.goauthentik.io/auth/traefik

# Domain configuration
DOMAIN=flowcase.home

# Email configuration
ADMIN_EMAIL=my.email@example.com

# CA Server configuration
# can be local CA (like step-ca) or external CA server (like letsencypt)
CA_SERVER=https://local-ca.home/acme/acme/directory